{% extends "base.html" %}

{% block content %}
    <h1 align="center">Немного о нас</h1>

    <p align="center">Магазин Шмагазин — это магазин, где можно купить символику для настоящих ценителей волшебства и сказки.
        У нас в наличии есть такие магические предметы:<br>
волшебная палочка;<br>
одежда;<br>
чехол;<br>
подушка;<br>
другие аксессуары.<br>
В нашем интернет-магазине широкий выбор товаров. Мы поможем Вам ощутить мечты реальностью, почувствовать
        волшебство.<br>

Хотите сделать другу необычный подарок? Перенести его в сказочный мир? У нас Вы сможете подобрать
        атрибуты Гарри Поттера на разную тематику:<br>

Мы беспокоимся о наших клиентах и изготовляем товар из качественных материалов.</p>
<!--<img src="путь к файлу" alt="альтернативный текст">-->
<!--<p align="left"><img src="flask_project/static/img/top.jpeg)" alt="Здесь должна была быть картинка, но она потерялась"></p>-->
    {% endblock %}