{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">{{title}}</h3></div>
                <div class="card-body">
                    <form action="" method="post"  enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-floating mb-3">
                            {{form.name(class="form-control", placeholder="Название товара")}}
                            {{ form.name.label }}
                            {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.sku(class="form-control", placeholder="SCU-522")}}
                            {{ form.sku.label }}
                            {% for error in form.sku.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.price(class="form-control", placeholder="20")}}
                            {{ form.price.label }}
                            {% for error in form.price.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.description(class="form-control")}}
                            {{ form.description.label }}
                            {% for error in form.description.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="custom-file">
                            {{form.image(class="custom-file-input")}}
                            {% for error in form.image.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            {{ form.submit(type="submit", class="btn btn-primary") }}
                        </div>
                        {% if message %}
                        <div class="alert alert-primary">
                            {% autoescape false %}
                            {{ message }}
                            {% endautoescape %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

            {% endblock %}