{% extends "base.html" %}

{% block content %}

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <!-- Product image-->
                    <a href="/card/{{item.id}}">
                        <img class="card-img-top" src="{{ url_for('static', filename='products_images/'+item.image) }}" alt="{{item.name}}" /> </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{item.name}}</h5>
                            <!-- Product price-->
                            {{item.price}} ₽
                        </div>
                    </div>
                   
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <form  id="{{item.id}}" action="/add_to_cart"  method="post">
                        <input type="hidden" name="quantity" value="1">
                        <input id="product_id" name="product_id" type="hidden" value="{{item.id}}">
                        <input class="btn btn-outline-dark mt-auto" id="submit" name="submit" type="submit" value="Добавить в корзину">
                        <!--<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Добавить в корзину</a></div>-->
                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>
    {% endblock %}